nav {
    background-color: var(--blue_backgrund);
    transform: var(--transition);
    .py-3 {
        padding: 2rem 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            display: flex;
            gap: 0.3rem;
            span{
                color: var(--dark-blue);
                font-size: 2rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bolder;
            }
            .dot {
                color: var(--ocean-blue);
            }
        }
        .links-container {
            .toggle {
                display: flex;
                gap: 1rem;
                flex-direction: row-reverse;
                position: relative;
                z-index: 1;
                svg {
                    color: var(--svg-color);
                }
            }
            .links {
                width: 0vw;
                position: fixed;
                right: 0;
                top: 0;
                height: 100vh;
                background-color: var(--background);
                visibility: hidden;
                transition: var(--transition);
                opacity: 0;
                ul {
                   height: 100%; 
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: column;
                   gap: 4rem;
                   li{
                       a{
                           text-decoration: none;
                           text-transform: uppercase;
                           color: var(--light-blue);
                           font-weight: bold;
                       }
                   }
                }
            }
            .responsive-toggle {
                width: 60vw;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}